<!DOCTYPE html>
{% extends 'SGApp/base.html '%}
<title>{% block title %}SG About{% endblock %}</title>

<body id="aboutbd">

{% block content %}

<div class="container">
<div id="aboutpg"class="jumbotron">
<div class="row">
    <div class="col-sm">
      <h4>We Are Into Air Conditioning And Systems</h4><br>
      <h4>Started Services Since Year of 2007</h4><br>
      <h4>Provideding Services To Corporate Companies & Different Sectors Companies</h4><br>
      <img id="abtimg" src="https://www.pngarts.com/files/1/Quality-Assurance-PNG-Image-with-Transparent-Background.png" alt="">

      <h4></h4>
    </div>

    <div class="col-sm">
      <h4>We Focused On Providing Services  24/7 To Our Valueble Clients! </h4>
      <h4>Minor & Major Issues Will Take Over</h4>
      <h4>Guidence & </h4>
      <br>

      <h4 id="abtun">Managing Owners</h4>
      <h4> <span id="h4spn">Sardar Khan & Ganesh</span></h4><br><br>
      <img id="abtimg" src="https://cdn.clipart.email/645ef933418337e26e4cbc28e7b824a1_28-collection-of-thank-you-clipart-no-background-high-quality-_500-344.png" alt="">




    </div>


</div>
</div>


{% endblock %}
</body>
