<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- fevicon -->
    <link rel="icon" href="{% static "images/sg2.jpg" %}" type="image/gif">
    <!--css  -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <!--javascript  -->
    <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <!--css file   -->
    <link rel="stylesheet" href="{% static "css/sg.css" %}">
    <!--googel fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Marcellus&display=swap" rel="stylesheet">

    <!--font awesome  -->
    <!-- <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <title>{% block title %}SG Solutions{% endblock %}</title>
  </head>
  <body>
    <!--navbar starts here  -->
    <nav  id="Nav" class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/"><img src="{% static "images/background.png" %}" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li id="dash" class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li id="dash" class="nav-item">
        <a class="nav-link" href="/services">Services</a>
      </li>
      <li id="dash" class="nav-item">
        <a class="nav-link" href="/About">About Us</a>
      </li>
      <li id="dash" class="nav-item">
        <a class="nav-link" href="contact">Contact</a>
      </li>
      {% if user.is_authenticated %}
      <li id="dash" class="nav-item">
        <a class="nav-link" href="/QList">RequestedQuotations</a>
      </li>

      <li id="dash" class="nav-item">
        <a class="nav-link" href="/accounts/logout">Logout</a>
      </li>



      {% else %}
      <li id="dash" class="nav-item">
        <a class="nav-link" href="/accounts/login">Login</a>
      </li>

      {% endif %}


    </ul>
  </div>
</nav>
<div class="container">
  <!-- <img id="respimg" src="http://greenwaycomfort.com/images/best%20air%20conditioning%20services%20in%20norristown%20pa%20.jpg?crc=3822979385" alt=""> -->
<img  id="respimg" src="https://www.lg.com/au/images/AC/features/2020-WEB-2018-Feature-Images_Multi-Split_1600x800_NEW-FAMILY_NOCOPY.jpg" alt="">
<img id="respimg"  src="https://www.lg.com/global/business/images/AC/features/multi-split_02_Perfect_Solution_for_Multiple_Rooms_20112017_D_1511160265462.jpg" alt="">
  <div class="top-left">Multi Branded <br> Air Conditioning <br> And Systems</div>
</div>




    {% block content %}
    {% endblock %}
  </body>
  <script type="text/javascript" src="{% static "js/sg.js" %}"></script>

</html>
