<!DOCTYPE html>
{% extends 'SGApp/base.html' %}

<title>{% block title %}SG contact{% endblock %}</title>

{% block content %}


<div class="container">
<div id="contactpg"class="jumbotron">
<div class="row">
    <div class="col-sm">
      <h4>SG Air Conditioning & Systems</h4><br>
      <h4>Near Royal Function Hall</h4><br>
      <h4>S.P Nagar, Moula Ali</h4><br>
      <h4>Hyderabad - 500040</h4><br>
      <h4>Emial : SGCoolings@gmail.com</h4>
      <h4></h4>
    </div>

    <div
     class="col-sm">
      <h4>Contact </h4>
      <h4>Managing & Owners</h4>
      <h4>Sardar Khan & Ganesh</h4>
      <br>
      <h4>Phones:</h4>
      <h4>Sardar Khan : 09866 824 632</h4>
      <h4> &nbsp &nbsp &nbsp &nbsp Ganesh : 09963 160 727</h4>
      <h4>Ameen.Khan632@Gmail.com</h4>



    </div>


</div>
</div>




{% endblock %}
